{% extends 'header.html'%}
{% block head %}
 <style>
     #one:hover{
         color:white;
     }
 </style>
{% endblock %}
{% block myblock %}
<div class="row">
    <div class="col-md-12 text-center">
      <h1>Our categories ({{category|length}})</h1>
    </div>
    {% for c in category %}
<div class="col-md-4 text-center">
    <div style="box-shadow: 0px 0px 10px black; background: url('/media/{{c.cover_pic}}');
     background-size: 100% 100%; border: 2px solid rgb(137, 36, 184);" class="myimg mt-5"> 
        <!-- <img src="/media/{{c.cover_pic}}" alt="" height="200"> -->
        <div class="box" style="height: 300px;">
            <a href="{% url 'all_property' %}?cat={{c.id}}" style="text-decoration:none;" id="one">
            <h2>{{c.cat_name}}</h2>
            <p>{{c.description}}</p>
            </a>
        </div>
    </div>
</div>
{% endfor %}

</div>
{% endblock %}